* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
}

:root {
  --primary-color: #02437A;
  --background-color: #EDEDED;
  --container-width-lg: 76%;
  --container-width-md: 90%;
  --container-width-sm: 94%;
  --transition: all 400ms ease;
}

body {
  font-family: "Poppins", sans-serif;
  background: var(--background-color);
  padding-top: 5rem;
}

.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}

a {
  color: white;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
}

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  border: 1px solid transparent;
  font-weight: 500;
  transition: var(--transition);
}

nav {
  background: var(--primary-color);
  width: 100vw;
  height: 5rem;
  position: fixed;
  top: 0;
  z-index: 999;
}
nav button {
  display: none;
}

.nav__container {
  height: 100%;
  width: var(--container-width-lg);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__menu {
  display: flex;
  align-items: center;
  gap: 4rem;
}
.nav__menu a {
  font-size: 0.9rem;
  transition: var(--transition);
  position: relative;
}
.nav__menu .active:before {
  content: "";
  position: absolute;
  width: 35%;
  height: 1px;
  border-bottom: 2px solid white;
  bottom: -1px;
}
.nav__menu a:before {
  content: "";
  position: absolute;
  width: 0%;
  height: 1px;
  border-bottom: 2px solid white;
  bottom: -1px;
  transition: var(--transition);
}

.logo {
  height: 3.5rem;
}

.login-btn {
  padding: 0.5rem 1.5rem;
  border: 1px solid white;
  background: white;
  color: var(--primary-color);
  font-weight: 500;
  border-radius: 20rem;
  transition: var(--transition);
}
.login-btn:hover {
  background: transparent;
  color: white;
}

main {
  height: calc(100vh - 5rem);
  overflow: hidden;
}

.hero__container {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.hero__left {
  text-align: center;
  display: flex;
  align-items: center;
}
.hero__left h2 {
  font-size: 3rem;
  font-weight: 500;
  color: var(--primary-color);
  margin-bottom: 1rem;
}
.hero__left p {
  font-size: 1.5rem;
}

.hero__left__container {
  padding: 0rem 4rem;
}

.hero__right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.slider {
  width: 80%;
  height: 25rem;
  border-radius: 10px;
  overflow: hidden;
}

.slides {
  width: 500%;
  height: 30rem;
  display: flex;
}
.slides input {
  display: none;
}

.slide {
  width: 20%;
  transition: 2s;
}
.slide img {
  width: 100%;
  height: 30rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.navigation-manual {
  position: absolute;
  width: 30.4%;
  margin-top: -130px;
  display: flex;
  justify-content: center;
}

.manual-btn {
  border: 2px solid white;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child) {
  margin-right: 40px;
}

.manual-btn:hover {
  background: rgb(171, 171, 171);
}

#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -20%;
}

#radio3:checked ~ .first {
  margin-left: -40%;
}

#radio4:checked ~ .first {
  margin-left: -60%;
}

#radio5:checked ~ .first {
  margin-left: -80%;
}

.navigation-auto {
  position: absolute;
  display: flex;
  width: 30.3%;
  justify-content: center;
  margin-top: 350px;
}
.navigation-auto div {
  border: 2px solid white;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}

.navigation-auto div:not(:last-child) {
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
  background: white;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
  background: white;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
  background: white;
}

#radio4:checked ~ .navigation-auto .auto-btn4 {
  background: white;
}

#radio5:checked ~ .navigation-auto .auto-btn5 {
  background: white;
}

/* NAV LINK UNDERLINE ON HOVER */
.nav__link:hover:before {
  width: 35%;
}

/* A LITTLE BEFORE TABLET */
@media screen and (max-width: 1180px) {
  .hero__left__container {
    padding: 0.5rem;
  }
  .hero__left__container h2 {
    font-size: 2.5rem;
  }
  .hero__left__container p {
    font-size: 1.3rem;
  }
}
/* TABLET */
@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
  }
  main img {
    height: 65vh;
  }
  nav button {
    display: inline-block;
    background: transparent;
    font-size: 1.8rem;
    color: white;
    cursor: pointer;
  }
  nav #close-menu-btn {
    display: none;
  }
  .nav__menu {
    display: none;
    position: fixed;
    top: 5rem;
    right: 0;
    height: -moz-fit-content;
    height: fit-content;
    width: 18rem;
    flex-direction: column;
    gap: 0;
  }
  .nav__menu li {
    width: 100%;
    height: 4rem;
  }
  .nav__menu li a {
    background: var(--primary-color);
    box-shadow: -4rem 6rem 10rem rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
  }
  .nav__menu .login-btn {
    border-radius: 0;
    border: none;
    color: white;
  }
  .nav__menu .login-btn:hover {
    background: #004888;
  }
}
/* A LITTLE BEFORE PHONE */
@media screen and (max-width: 968px) {
  main {
    background-image: url(textured-background.jpeg);
  }
  main img {
    display: none;
  }
  main .hero__right {
    display: none;
  }
  main .hero__container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  main .hero__container h1 {
    color: white;
  }
  main .hero__container p {
    color: white;
  }
  main .hero__left__container h2 {
    color: white;
    padding: 0;
  }
  main .request-btn:hover {
    color: white;
    border: 1px solid white;
  }
  main .hero__left {
    text-align: center;
  }
  main .hero__left p {
    padding: 0rem 5rem;
  }
  footer p {
    font-size: 1rem;
  }
}
/* PHONE */
@media screen and (max-width: 600px) {
  .container {
    width: var(--container-width-sm);
  }
  main {
    height: calc(100vh - 5rem);
  }
  main h1 {
    font-size: 3.5rem;
    line-height: 3.5rem;
  }
  main p {
    font-size: 0.8rem;
  }
  main img {
    height: 65vh;
  }
  footer {
    display: none;
  }
}/*# sourceMappingURL=about.css.map */
